{% load static wagtailcore_tags wagtailimages_tags %}
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>{{page.hero_heading|default_if_none:"Welcome to Villarosa"}}</h1>
                    <p>{{page.hero_text|default_if_none:"Experience the charm of Spanish living at La Villa Rosa"}} </p>
                    {% if page.hero_cta_link %}
                    <a href="{% pageurl page.hero_cta_link %}" class="primary-btn">{{page.hero_cta|default_if_none:"Explore More"}}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>{{page.hero_form_heading|default_if_none:"Book With Us"}}</h3>
                    <form action="#">
                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label for="date-out">Check Out:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label for="guest">Guests:</label>
                            <select id="guest">
                                <option value="">2 Adults</option>
                                <option value="">3 Adults</option>
                            </select>
                        </div>
                        <div class="select-option">
                            <label for="room">Room:</label>
                            <select id="room">
                                <option value="">1 Room</option>
                                <option value="">2 Room</option>
                            </select>
                        </div>
                        <button type="submit">{{page.hero_form_button_text|default_if_none:"Check Availability"}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        {% for block in page.hero_images %}
        {% image block.value original as hero_image %}
        <div class="hs-item set-bg" data-setbg="{{ hero_image.url }}"></div>
        {% endfor %}
    </div>
</section>
<!-- Hero Section End -->
