{% load wagtailcore_tags %}

<!-- Breadcrumb Section Begin -->

{% if ancestors %}
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
<!--                    <h2>{{page.title}}</h2>-->
                    <div class="bt-option">
                        {% for ancestor in ancestors %}
                        {% if forloop.last %}
                        <span>{{ ancestor }}</span>
                        {% else %}
                        <a href="{% pageurl ancestor %}">
                            {% if forloop.first %}Home{% else %}{{ ancestor }}{% endif %}
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Breadcrumb Section End -->

